
.app{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
}

.question-area{
  max-width: 1000px;
}

.questions{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

.question-box{
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-width: 180px;
  margin: 10px;
}
.question-box-correct{
  background-color: rgb(51, 187, 187);
  padding: 10px;
  border-radius: 20px;
  box-shadow: rgb(204, 219, 232) 1px 1px 2px 0px inset, rgba(255, 255, 255, 0.5) -1px -1px 2px 1px inset;
  min-width: 180px;
  margin: 10px;
}
.question-box-wrong{
  background-color: rgb(204, 76, 87);
  padding: 10px;
  border-radius: 20px;
  box-shadow: rgb(204, 219, 232) 1px 1px 2px 0px inset, rgba(255, 255, 255, 0.5) -1px -1px 2px 1px inset;
  min-width: 180px;
  margin: 10px;
}
.question-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.question-button {
  display: flex;
  flex-direction: column;
}

button {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: darkcyan;
  color: white;
}
button:disabled{
  background-color: darkgray;
  color: darkolivegreen;
}

select {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: darkcyan;
  color: white;
}

.base-timer {
  position: relative;
  height: 50px;
  width: 50px;
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
  fill: none;
  stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__label {
  position: absolute;
  
  /* Size should match the parent container */
  width: 50px;
  height: 50px;
  
  /* Keep the label aligned to the top */
  top: 0;
  
  /* Create a flexible box that centers content vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Sort of an arbitrary number; adjust to your liking */
  font-size: 12px;
}

.base-timer__path-remaining {
  /* Just as thick as the original ring */
  stroke-width: 7px;

  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: round;

  /* Makes sure the animation starts at the top of the circle */
  transform: rotate(90deg);
  transform-origin: center;

  /* One second aligns with the speed of the countdown timer */
  transition: 1s linear all;

  /* Allows the ring to change color when the color value updates */
  stroke: currentColor;
}

.base-timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  transform: scaleX(-1);
}